.Rproj.user
.Rhistory
.RData
.Ruserdata
_book/
_bookdown_files/
*.rds
Aspirations-Psychrometer-Fotomontage-65434-LRV1_3000px_2048x2048.pdf
aspiration-psychrometer-installing-batist.pdf
*.log
relative-humidity.pdf
wet-dry-psychrometer.pdf
adiabatic-saturation-temperature-wet-bulb-temperature.pdf
IMG_20220414_105502.pdf
IMG_20220414_105513.pdf
